body {
    font-size: 12px;
    margin: 0;
    position: relative;
    height: 100%;
    background-color: #F5F2F0;
    font-family: 'Raleway', sans-serif;
}

.navcol {
    background-color: #C11194;
}

.page-footer {
    background-color: dimgray !important;
}

.img{
	width: 100%;
}

.parrafo{
	font-size: 15px;
}
.container{
	margin-top: 20px !important;
}